body {
  background-color: #2e2e2e;
}

.cel-to-fahr {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  background-color: #bfbfbf;
  height: 20rem;
  width: 20rem;
  border-radius: 0.625rem;
}

.calculator {
  margin: 0.313rem;
  border: none;
  background-color: #666699;
  color: white;
  height: 1.875rem;
}

.calculator {
  font-size: 1.125rem;
  width: 50%;
  cursor: pointer;
}

#grad {
  text-align: center;
  width: 48%;
}
